@using PassApp.Shared.Buttons;

@if ((Model?.HasPaging ?? false) || (Model?.FooterButtons?.Any() ?? false))
{
    <tfoot>
        <tr>
            <td colspan="@(Model?.Headers?.Count ?? 0)" class="p-1 text-right user-selection-none icon-button-no-wrap">
                @foreach (var button in Model?.FooterButtons ?? Enumerable.Empty<IconButtonModel>())
                {
                    <IconButton IconClass="@button.IconClass" IconText="@button.IconText" OnClick="@(() => OnClick(button.Parameters))" /><span>&nbsp;</span>
                }
            </td>
        </tr>
    </tfoot>
}
