
<thead class="bg-light">
    <tr>
        @foreach (var header in (Model?.Headers ?? Enumerable.Empty<TableHeaderModel>()))
        {
            @if (!string.IsNullOrEmpty(header.Name))
            {
                <th class="@(header.Column != TableHeaderModel.ColumnType.Password ? "pointer" : "") user-selection-none" style="width:@(header.ColumnWidth);">
                    <div @onclick="@(header.Column != TableHeaderModel.ColumnType.Password ? (() => OnSort(Model?.Headers?.IndexOf(header) ?? 0)) : (() => { }))">
                        @((MarkupString)header.Name)
                        @if (header.Direction  != TableHeaderModel.SortDirection.None)
                        {
                            <span class="px-1 oi oi-caret-@(header.Direction == TableHeaderModel.SortDirection.Ascending ? "top" : "bottom")"></span>
                        }
                    </div>
                </th>
            }
            else
            {
                <th style="width:@(header.ColumnWidth);">

                </th>
            }
        }
    </tr>
</thead>
