
@if (Model != null)
{
    <Form @ref="FormRef" Model="Model">
        <form @onsubmit="Login">
            <div class="py-1">
                    <Label For="@(() => Model.Username)" Id="login-username" />
                    <input id="login-username" type="text" class="form-control" @bind-value="Model.Username" />
                    <FormMessage For="@(() => Model.Username)" />
                </div>
                <div class="py-1">
                    <Label For="@(() => Model.Password)" Id="login-password" />
                    <PasswordComponent Id="login-password" @bind-Value="Model.Password" />
                    <FormMessage For="@(() => Model.Password)" />
                </div>
                <div class="py-4">
                    <button type="submit" class="btn btn-primary">
                        <span class="oi oi-lock-unlocked"></span>
                        Login
                    </button>
                </div>
        </form>
    </Form>
}
