@using PassApp.Web.Authorization
@inherits LayoutComponentBase

<div class="page">
    <main>
        <AuthorizationComponent @ref="AuthRef">
            <div class="top-row px-4">
                <button class="btn btn-light text-primary" @onclick="AuthRef.UnAuthorize">Logout</button><span>&nbsp;</span>
                <button class="btn btn-light text-danger" @onclick="AuthRef.DeleteProfile">Delete Profile</button>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </AuthorizationComponent>
    </main>
</div>

@code {
    public AuthorizationComponent? AuthRef { get; set; }
}
