@using PassApp.Web.Components.Buttons;
@if ((Model?.HasPaging ?? false) || (Model?.FooterButtons?.Any() ?? false))
{
    <tfoot>
        <tr>
            <td colspan="@(Model?.Headers?.Count ?? 0)">
                @foreach (var button in Model?.FooterButtons ?? Enumerable.Empty<IconButtonModel>())
                {
                    <div class="p-1 text-right">
                        <IconButton IconClass="@button.IconClass" IconText="@button.IconText" OnClick="@(() => OnClick(button.Parameters))" />
                    </div>
                }
            </td>
        </tr>
    </tfoot>
}
