@using Microsoft.AspNetCore.Components.Forms

@if (Model != null)
{
    <div class="container">
        <div class="row py-1">
            <div class="col-lg-6">
                <div>
                    <label>
                        Include Lowercase
                        <InputCheckbox @bind-Value="Model.IncludeLowercase" />
                    </label>
                </div>
                <div>
                    <label>
                        Include Uppercase
                        <InputCheckbox @bind-Value="Model.IncludeUppercase" />
                    </label>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <label>
                        Include Number
                        <InputCheckbox @bind-Value="Model.IncludeNumbers" />
                    </label>
                </div>
                <div>
                    <label>
                        Include Special Characters
                        <InputCheckbox @bind-Value="Model.IncludeSpecialChars" />
                    </label>
                </div>
            </div>
        </div>
        <div class="row py-1">
            <label>Length: @Model.PasswordLength</label>
            <input type="range" class="form-range" min="1" max="100" value="@Model.PasswordLength" @oninput="@((arg) => OnLengthChange(int.Parse(arg?.Value?.ToString() ?? "8")))" />
            @if (Model.PasswordLength < 8)
            {
                <small class="text-warning">Recommended minimum length is 8 characters.</small>
            }
        </div>
        <div class="row py-1">
            <div class="input-group">
                <input type="text" class="form-control" @bind-value="Model.Password" />
                <button class="btn btn-outline-primary" @onclick="CopyToClipboard">
                    <span class="oi oi-clipboard"></span>
                </button>
                <button class="btn btn-outline-success" @onclick="Model.GeneratePassword">
                    <span class="oi oi-reload"></span>
                </button>
            </div>
        </div>
    </div>
}
