
@ChildContent
<div class="p-1">
    <small>Write "@(ConfirmationTextMatch)" to confirm the deletion.</small>
    <input type="text" placeholder="@ConfirmationTextMatch" class="form-control" @bind-value="ConfirmationText" />
</div>
<div class="p-2 text-right">
    <button class="btn btn-secondary" @onclick="Close">Close</button>
    <button class="btn btn-danger" @onclick="Delete">Delete</button>
</div>
