
<div class="input-group">
    @if (ShowPassword)
    {
        <input type="text" class="form-control" value="@Value" @onchange="@((e) => OnValueChanged(e.Value.ToString()))" />
    }
    else
    {
        <input type="password" class="form-control" value="@Value" @onchange="@((e) => OnValueChanged(e.Value.ToString()))" />
    }
    <button class="btn btn-outline-secondary" tabindex="-1" @onmousedown="Show" @onmouseup="Hide">
        <span class="oi oi-eye"></span>
    </button>
    <button class="btn btn-outline-primary" @onclick="Copy">
        <span class="oi oi-clipboard"></span>
    </button>
    <button class="btn btn-outline-success" @onclick="Open">
        <span class="oi oi-plus"></span>
    </button>
</div>

<PassAppModal @ref="ModalRef" Centered Size="md" OnSave="GetPassword">
    <PasswordForm @ref="FormRef" />
</PassAppModal>
