
<div class="input-group">
    @if (ShowValue)
    {
        <input type="text" class="form-control" @bind-value="Value" />
    }
    else
    {
        <input type="password" class="form-control" @bind-value="Value" />
    }
    <button type="button" class="btn btn-outline-secondary" tabindex="-1" @onmousedown="@(() => ShowValue = true)" @onmouseup="@(() => ShowValue = false)">
        <span class="oi oi-eye"></span>
    </button>
</div>
