
<div class="row mb-3">
    <div class="col-sm-@(LabelWidth)">
        <Label For="For" Id="@Id" CssClass="@LabelCssClass" />
    </div>
    <div class="col-sm-@(12 - LabelWidth)">
        @ChildContent
    </div>
</div>
