
@if (IsAuthorized)
{
    @ChildContent

    <PassAppModal @ref="Delete" Size="md" HideFooter>
        <DeleteForm OnDelete="OnDeleteProfile" OnClose="DeleteClose">
            <div class="alert alert-danger border border-danger text-center">
                <i class="oi oi-warning d-block p-1"></i>
                <strong>Are you sure you want to delete this profile and all records that belong to it?</strong>
            </div>
        </DeleteForm>
    </PassAppModal>
}
else
{
    <PassAppModal Size="md" Centered ShowOnLoad HideFooter>
        <MessageComponent @ref="Message"/>
        @if (HasUser)
        {
            <LoginForm OnLogin="Login"/>
        }
        else
        {
            <RegisterForm OnRegister="Register"/>
        }
    </PassAppModal>
}
