
.text-right {
    text-align: right;
}

.unset-all {
    all: unset;
}

.pointer:hover {
    cursor: pointer;
}

.hover-dim:hover {
    filter: brightness(0.8);
}

.hover-table:hover {
    background-color: lightcyan;
}

.table-content-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 1vw;
}

.user-selection-none {
    user-select: none;
}

.icon-button-no-wrap {
    white-space: nowrap;
}